// http://tj.github.io/nib/
@import 'nib'

.mdl-dialog
    width: -moz-fit-content
    width: -webkit-fit-content
    width: fit-content

    height: -moz-fit-content
    height: -webkit-fit-content
    height: fit-content
    
    bottom: auto

.input
    display: block
    position: relative
    padding: 5px
    margin: 15px 0
    vertical-align: top
    z-index: 0

    &[disabled]
        opacity: 0.8

    .md-block
        display: block

    .input__label
        position: absolute
        bottom: 100%
        left: 0
        right: auto

        color: rgba(0,0,0,0.26)

        order: 1
        pointer-events: none
        -webkit-font-smoothing: antialiased
        padding-left: 10px
        padding-right: 0
        transform: translate3d(0,28px,0) scale(1)
        transition: transform cubic-bezier(.25,.8,.25,1) .25s
        transform-origin: left top

    .input__field
        vertical-align: baseline
        font-size: 100%

        order: 2
        display: block
        margin-top: 0
        background: 0 0
        padding: 2px 2px 1px
        line-height: 26px
        height: 30px
        border-width: 0
        width: 100%
        box-sizing: border-box

        &[contenteditable]
            height: auto

        &:focus
            outline: none

    .input__bar
        position:relative
        display:block
        width: 100%

        &:before
        &:after
            content:''
            width: 100%
            position: absolute
            top: 0
            left: 0
            border-radius: 0
            border-style: solid

        &:before
            border-width: 0 0 1px
            border-color: rgba(0,0,0,0.12)

        &:after
            border-width: 0 0 2px
            border-color: #448AFF
            transform: scale(0)
            transition: transform cubic-bezier(.25,.8,.25,1) .25s
            transform-origin: left top

    &:after
        content: ''
        display: table
        clear: both

    &.input--focused,
    &.input--has-value
        .input__label
            transform: translate3d(0, 10px, 0) scale(.75)
            margin: 0

    &.input--has-value
        .input__label
            color: rgba(0,0,0,0.54)

    &.input--focused
        .input__label
            color: #448AFF

        .input__bar:after
            transform: scale(1)

    &.input--invalid
        .input__label
            color: red

        .input__bar
            &:before
            &:after
                border-color: red

    .char-count
        font-size: 12px
        float: right
        opacity: 0.5

.error-messages
    position: relative
    order: 4
    overflow: hidden

    .error-message
        font-size: 12px
        line-height: 14px
        overflow: hidden
        opacity: 1
        margin-top: 0
        padding-top: 5px
        color: red
        transition: all .3s cubic-bezier(.55,0,.55,.2)

.mdl-button
    &, &.mdl-button--accent
        &, &.mdl-button--raised
            &.btn-danger
                background-color: #d9534f
                border-color: #d43f3a
                color: #fff

.mdl-dialog
    width: fit-content
    border-radius: 4px
    transition: all .4s cubic-bezier(.25,.8,.25,1)

    > h1, h2, h3, h4, h5, h6
        margin-top: 15px
        margin-bottom: 0

.textarea-container
    position: relative
    width: 100%

    > textarea, > .textarea-size
        min-height: 26px

        /* need to manually set font and font size */
        font-family: sans-serif
        font-size: 14px
        box-sizing: border-box
        padding: 4px
        border: 1px solid

        overflow: hidden
        width: 100%

    > textarea,
    > textarea.input__field
        height: 100%
        position: absolute
        resize:none

        /*
        "pre" or "preline" or "normal" fixes Chrome issue where
        whitespace at end of lines does not trigger a line break.
        However, it causes the text to exhibit the behavior seen with
        "pre" that is described below.
        */
        white-space: normal

    > .textarea-size
        visibility: hidden

        /*
        Pre-wrap: preserve spacing and newlines, but wrap text.
        Pre: preserve spacing and newlines but don't wrap text.

        "pre" does not wrap well on Firefox, even with word-wrap:break-word.
        "pre" on Chrome works with word-wrap, but exhibits different behavior:
        Instead of entire words being moved to the next line for wrapping,
        the browser will cut words in the middle for wrapping.
        "pre-line" has Firefox issues
        */
        white-space: pre-wrap

        /* Required for wrapping lines in Webkit,
        but not necessary in Firefox if you have white-space wrapping
        (pre-wrap, normal, pre-line) already set */
        word-wrap: break-word
        overflow-wrap: break-word

    > textarea.input__field + .textarea-size
        line-height: 26px
        padding: 2px 2px 1px
